$gray : #d3d3d3;
$green : #75B975;

.box {
  background: $gray;
  border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: $green;
    color: white;
  }
}

img {
  height: 100px;
}

a {
  cursor:pointer;
}

table#repoTable tr:nth-child(even) {
  background-color: #eee;
}

table#repoTable tr:nth-child(odd) {
  background-color: #fff;
}

table#repoTable th {
  color: white;
  background-color: black;
}
